html, body {
  margin: 0;
  padding: 0;
}

.header-content .highlight {
  color: #ab1c1a;
}

.site-header {
  width: 100%;
  height: 503px;
  background: #3689bf;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  overflow: hidden;
  position: relative;
}

.header-content {
  max-width: 1090px;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: 57px;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;
font-family: 'Inter-Black', sans-serif;
font-size: 1.875rem;
line-height: 3.75rem;
font-weight: 900;
position: relative;
color: #ffffff;
}

.nav-bar {
  width: 1090px;
  max-width: calc(100% - 40px);
  height: 56px;
  background: #14253f;
  margin: 29px auto 0;
  border-radius: 360px;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 32px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 25px;
    padding: 8px 8px;
    font-weight: 800;
    justify-content: center;
    text-align: center;
}

.menu a.active {
  color: #AB1C1A !important;
  font-size:40px;
  margin-top: -10px;
  font-weight: 900;
  border-radius: 20px;
}

.cta-section {
  display: flex;
  gap: 56px;
  align-items: center;
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.cta-text {
  flex: 1;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  line-height: 1.250rem;
  margin: 0;
}

.cta-button {
  width: 323px;
  height: 57px;
  background: #AB1C1A;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background: #AB1C1A;
  transform: translateY(-2px);
}
